#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skill-title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}
.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: center;
}
.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}
.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.skillBarText p{
    font-size: 0.9rem;
    font-weight: 200;
}
.skillBarText h2{
    text-align: justify;
}

@media(max-width:768px) {
    .contact-title h1 {
        font-size: 50px;
        padding: 0;
    }
    .contact-title img {
        width: 130px;
        right: -20px;
    }
}
